html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: rgb(210, 224, 185);
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(67, 66, 66);
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.3rem;
}
p {
  font-size: 1.3rem;
}
