html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: rgb(210, 224, 185);
}
body {
  font-size: 16px;
  background-image: linear-gradient(to top, var(--rosaclaro) 0%, var(--grisclaro) 100%);

}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;

}
.app {
background-color: rgb(234, 230, 230);
height: auto;
}
.app-logo img {
  height: 10rem;
  pointer-events: none;
}

.navBG {
  background-color: #7952b3;
  padding: 2rem;
}